section {
  margin: $margin 0 $margin*2 0;
}

.inner {
  width: 90%;
  margin: 0 auto;
  @include breakpoint(medium) {
      width: 85%;
  }
  @include breakpoint(large) {
      width: 75%;
  }
}

.table-cell {
  @extend .inner;
  display: table;
}

.main-content {
  background-color: white;
  min-height: 500px;
}